body {
  background-color: #1f1f1f;
  font-family: arial, sans-serif;
  font-size: 14px;
  align-content: center;
}

h1 {
  position: sticky;
  top: 15px;
  font-size: 42px;
  color: #ffe354;
  background-color: #3d3d3d;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  max-width: 30%; 
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 28px;
  color: #ffef9c;
}
