body {
  background-color: #1f1f1f;
  font-family: arial, sans-serif;
  font-size: 14px;
  align-content: center;
}

topnav {
  overflow: hidden;
}

.topnav a {
  background-color: #3d3d3d;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  max-width: 30%; 
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0px #ffe354;
  transition: 0.3s ease-in-out;
}

.topnav a:hover {
  box-shadow: 0 0 36px #ffe354;
  transform: translateY(-4px);
  background-color: #1f1f1f;
}

h1 {
  position: sticky;
  top: 15px;
  font-size: 42px;
  color: #ffe354;
  background-color: #3d3d3d;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  max-width: 30%; 
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0px #ffe354;
  transition: 0.3s ease-in-out;
}

h1:hover {
  box-shadow: 0 0 36px #ffe354;
  transform: translateY(-4px);
  background-color: #1f1f1f;
}

h2 {
  font-size: 28px;
  color: #ffef9c;
}
