body {
  background-color: #1f1f1f;
  font-family: arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 28px;
  color: yellow;
  background-color: #3d3d3d;
  border-radius: 8px;
  padding: 10px;
}
